In [33]:
import requests
import pandas as pd 
import json
import datetime

city = input()
date = input()

URL ='https://api.oikolab.com/weather'
API_KEY= 'c61cfceb2f1243cbb62098367e2dee16'

resp = requests.get(URL, 
                    params = {'param':['temperature'], 
                           'start': date, 
                           'end': date, 
                           'location': city, 
                           'api-key': API_KEY, 
                           'freq': 'D'})
w = resp.json()['data']

Delhi
2022-12-02

In [20]:
type(w)

str

In [34]:
new_w=json.loads(w)
new_w

{'columns': ['coordinates (lat,lon)',
  'model (name)',
  'model elevation (surface)',
  'utc_offset (hrs)',
  'temperature (degC)'],
 'index': [1669939200],
 'data': [['(28.6517178, 77.2219388)', 'gfs', 220.47, 5.5, 22.61]]}

In [35]:
df = pd.DataFrame(index = pd.to_datetime(new_w['index'], unit = 's'),
                  data = new_w['data'], columns = new_w['columns'])
temp = int(df.iloc[0,4])
print("Temparature for", city, "on", date, "=", temp, "C")

Temparature for Delhi on 2022-12-02 = 22 C

In [26]:
r = requests.get('https://api.oikolab.com/weather', 
                 params = {'param':['temperature'], 
                           'start': '2022-12-02', 
                           'end': '2022-12-02', 
                           'location': 'Delhi', 
                           'api-key': '0e137679662e4f59a92b083293f0f8da', 
                           'freq': 'D'})
new_w = r.json()['data']
w = json.loads(new_w)

In [27]:
df = pd.DataFrame(index = pd.to_datetime(w['index'], unit = 's'),
                  data = w['data'], columns = w['columns'])
df

,"coordinates (lat,lon)",model (name),model elevation (surface),utc_offset (hrs),temperature (degC)
2022-12-02,"(28.6517178, 77.2219388)",gfs,220.47,5.5,22.61

In [13]:
marks = [{ "name":'Stu1', 
          "phy": 100, 
          "Chem": 50,
          "Bio": 55,},{
          "name": 'Stu2',
          "phy": 100,
          "Chem": 44,
          "Bio": 34},]

In [14]:
df = pd.DataFrame(marks)
df

   name  phy  Chem  Bio
0  Stu1  100    50   55
1  Stu2  100    44   34